.upload {
    display: none;
    position: relative;
}

.container{
    border: 3px var(--base-clr) solid;
    border-radius: 30px;
    justify-content: center;
    position: relative;
    height:300px;
    width: 300px;
}

.container button{
    width: 100%
}

/* .container button svg g path{
    transition: 1s ease-in-out;
    fill: var(--base-clr)
} */

.upload button {
    color: var(--accent-clr);
}
