.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.plot{
    height: 100%;
    width: 50%;
}

.stl{
    width: 50%;
}

@media screen and (orientation:portrait) {
    .plot{
        width: 100vw;
    }

    .stl{
        width: 100vw;
        height: 100vw;
    }

    .container{
        flex-direction: column;
        margin: 5rem 0 2rem 0;

    }
  }